<a href="https://colab.research.google.com/github/vipulgohil/Python-Programming-main/blob/main/Unit1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python Programming

###Books: <br>
Text Books- <br>
1.	Dr. R. Nageswara Rao, “Core Python Programming”, Dreamtech Press (Wiley Publication), 2nd Edition, 2018.  <br>
2.	Paul Barry,”Head first Python: A Brain Friendly guide”, O'Reilly publication, 2nd Edition, 2016. <br>
3.	Martin C. Brown, “Python: The Complete Reference”, McGrawHill Education, 4th Edition, 2018. <br>

Reference Books- <br>
1.	Bill Lubanovic, “Introducing Python Modern computing in simple packages”, O'Reilly publication, 3rd edition, 2019. <br>
2.	Wes McKinney, “Python for Data Analysis”, O'Reilly publication, 2nd edition, 2017. 
3.	Jeeva Jose, P. Sojan Lal, “Introduction to Computing and Problem Solving with Python”, Khanna Publication, 1st Edition, 2019. 

###Website References:
www.realpython.com<br>
https://www.w3schools.com/

###Download and then install from
www.python.org
###or can use 
Jupyter notebook, Colab

Check Python version

In [ ]:
!python --version

Python 3.7.10

### Identify some features of Python

### Integrated Development Environment (IDE)

Python's built -in integrated development environment installed on your computer is IDLE.<br>
Other IDEs are Eclipse, Py-Dev, PyCharm, Eric and NetBeans<br>
Advanced text editors like Sublime Text and Vsiual Studio Code can also be used to run your scripts<br>
Cloud or Browser based IDE for Python like Colab, Jupyter (Used for Julia, Python and R programming) can also be used.<br>


###Scripts and Modules

**Script**: A plain text file containg Python code that is intended to be directly executed by the user<br>
**Module**: A plain text file, which contains Python code that is designed to be imported and used from another Python file<br>
**Main difference**: Modules are meant to be improted while scripts are made to be directly executed.

###Python Interpreter

**Interpreter**<br>
is a layer of software that works between your program and your hardware to get your code running <br>
is a program that can analyze and execute a program line by line<br>
transforms or interprets a high-level programming code into a code that can be understood by machines (machine codes) or into an intermediate language that can can be easily executed as well

###Some taste of Python

Example 1.1

In [ ]:
for get_set in 5,4,3,2,1,"go!":
  print(get_set)

5
4
3
2
1
go!

Some special keywords like **for**, **in**, **print** and symbols like **comma**,**colon** and **parentheses** are used in the above program. These are important components of the Python language syntax

###Print Python keywords

In [ ]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
help('for')

Example 1.2

In [ ]:
names= ["Ram", "Laxman", "Bharat", "Shatrughna"]
print(names[2])

Bharat

 In program 1.2, the idea of *list* is introduced. *Python strings* are the elements of the list called **names**. These elements are separated by a comma and enclosed in a square ([ and]) bracket. In this program we are printing the 3rd element. Index of the first element is '0' and not '1'

Example 1.3

In [ ]:
books= {"SudhaMurthy": "Wise or Otherwise", "AmishTripaty": "Sita", "ChetanBhagat": "Three mistakes of my life", "RobinSharma": "The monk who sold his Ferrari"}
auth= "RobinSharma"
print(books[auth], " is written by ", auth)

The monk who sold his Ferrari  is written by  RobinSharma

Here variable book is a dictionary made up of unique key and the corresponding value. For example, auth here is the key and books[auth] prints its value whcih is "The monk who sold his Ferrari". Dictionary elements are enclosed in a curly bracket ({ and }). Each key-value pair is separated by a comma. Each relation of key and value is denoted by a semicolon.

#Python Comments
Used for explaining and making the code more understandable or readable. Example 1.4 below shows the use of comments. Comments are also used sometimes when we do not intend to run a piece of code. Comments can be single line or multiple lines.

Example 1.4

In [ ]:
#Generation of random numbers in numpy
import numpy as np # importing Numpy package for scientific computing
from numpy import random #import rnadom module from numpy to access various functions in it
b= random.randint(10,100, size=5)
print(b)
c= random.rand() #Returns a float between 0 and 1
print(c)
d=random.rand(5,6)#Returns a matrix of size 5X6 with float values between 0 and 1 from uniform distribution
print(d)
e= random.random((3,4))#Returns a matrix of size 5X6 with float values between 0 and 1 from uniform distribution Size taken as a tuple
print(e)

###Multiple line comments

Example 1.5

In [ ]:
""" This program imports datetime module
from datetime package"""

import numpy as np # import numpy package
from datetime import datetime # import datetime module from datetime package
odd= np.arange(1, 60, 2)
#print(odd)
this_min= datetime.today().minute #use today function to print the current minute
#print(this_min)

# if-else loop used to check current minute is odd and print the statement

if this_min in odd:
  print ("Our time is odd")
else:
  print("time is not odd")

Our time is odd

### Docstrings

In [ ]:
# program to add two numbers
def add_num(x,y):
  """This is an addition function"""
  z= x+y
  
  return (z)

In [ ]:
print(add_num.__doc__)

This is an addition function

In [ ]:
def my_function():
    """Demonstrates 
    triple double quotes"""
    
   
    return None

In [ ]:
print(my_function.__doc__)

Demonstrates
    triple double quotes

## Reserved key words

False,     await,      else,       import,     pass,<br>
None,       break,      except,     in,         raise,<br>
True,       class,      finally,    is,         return,<br>
and,        continue,   for,        lambda,     try,<br>
as,         def,        from,       nonlocal,   while,<br>
assert,     del,        global,     not,        with,<br>
async,      elif,       if,         or,         yield<br>

In [ ]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
import random
dir(random)

['BPF',
 'LOG4',
 'NV_MAGICCONST',
 'RECIP_BPF',
 'Random',
 'SG_MAGICCONST',
 'SystemRandom',
 'TWOPI',
 '_BuiltinMethodType',
 '_MethodType',
 '_Sequence',
 '_Set',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_acos',
 '_bisect',
 '_ceil',
 '_cos',
 '_e',
 '_exp',
 '_inst',
 '_itertools',
 '_log',
 '_os',
 '_pi',
 '_random',
 '_sha512',
 '_sin',
 '_sqrt',
 '_test',
 '_test_generator',
 '_urandom',
 '_warn',
 'betavariate',
 'choice',
 'choices',
 'expovariate',
 'gammavariate',
 'gauss',
 'getrandbits',
 'getstate',
 'lognormvariate',
 'normalvariate',
 'paretovariate',
 'randint',
 'random',
 'randrange',
 'sample',
 'seed',
 'setstate',
 'shuffle',
 'triangular',
 'uniform',
 'vonmisesvariate',
 'weibullvariate']

In [ ]:
help(random.randint)

Help on method randint in module random:

randint(a, b) method of random.Random instance
    Return random integer in range [a, b], including both end points.

##Identation in Python

Indentation refers to the spaces at the beginning of a code line.
In some  programming languages the indentation in code is just for readability. However the indentation in indicate a block of code and hence very important. In Example 1.4 above, we see tht the if and else statement has the block  which is indentated

A COLON INTRODUCES AN INDENTED SUITE OF CODE <br>
The colon (:) is important, in that it introduces a new suite of code that must be indented to the right. If you forget to indent your code after a colon, the interpreter raises an error.

##Variables

Variables are used for storing data. No additional command requred to declare the variable. Variable is created as soon as it is assigned the first value. Variable names are case sensitive.


**DIY:** Dos and Don'ts while assigning variable names

###Creating, Casting and Getting the type of a variable

In [ ]:
my_name= "Ami Munshi" #string type variable created. A string can be declareed using double quote or a single quote
type(my_name) #to get the variable type

str

In [ ]:
my_number= 7 #number will be int
print(type(my_number))

my_number ='7' #number will be string
print(type(my_number))

my_number= 7.0 #number will be float
print(type(my_number))

<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
a= 6
print(type(a))
b=7.0
print(type(b))

<class 'int'>
<class 'float'>

In [ ]:
#This is called casting

my_marks= int(77)
print(my_marks)

my_marks= float(77)
print(my_marks)

my_marks= str(77)
print(my_marks)

77
77.0
77

###Assigning different values to multiple variables in the same statement

In [ ]:
p,q,r = 8,9,10
print("Value of p is: ", p)

Value of p is:  8

Assigning same value to multiple variables

In [ ]:
x=y=z=4
print(x)
print(z)

4
4

In [ ]:
p=4
q=4

##Note

Variables are just names or pointer to the object. 
Variable names point to places (location) of the object, they are not object themselves

###Standard Library
There are many functionalities that exist in Python's Standard Library. There are many modules, sub-modules and functions which are resuable codes in the standard library

Refer to this doumentation to explore about the standard library

https://docs.python.org/3/library/index.html.

##Python Data Types

Variables are stored in different data types to do various things

Text Type:	str <br>
Numeric Types:	int, float, complex <br>
Sequence Types:	list, tuple, range <br>
Mapping Type:	dict <br>
Set Types:	set, frozenset <br>
Boolean Type:	bool <br>
Binary Types:	bytes, bytearray, memoryview <br>

In [ ]:
vegetables= ["apples", "mangoes", "bananas"] #list data type
print(type(vegetables))
marks= (70,77, 86) #tuple data type
print(type(marks))
student= {"name": "Raj", "roll num": 34} #dictionary data type
print(type(student))
y= False #Boolean data type
print(type(y))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'bool'>

In [ ]:
x= True
y= False

x and y

False

Is list Mutable and immutable?
Is tuple mutable of immutable?

###Operators in Python

Python operators are as follows:

Arithmetic operators<br>
Assignment operators <br>
Comparison operators <br>
Logical operators <br>
Identity operators <br>
Membership operators <br>
Bitwise operators <br>

In [ ]:
#Arithmetic operators

5+8 #addition operator

17-9 #subtraction operator

7*9 #multiplication operator

8/3 #Division operator, floating point division

8//3 #Floor Division operator, integer or truncating division, gives quotient

8%3 #Modulus operator-Gives remainder

2**4 #Exponention operator

0

In [ ]:
8/3

2.6666666666666665

In [ ]:
8%5

3

In [ ]:
divmod(7,3) #getting quotient and remainder both. Function name divmod which gives output in form of a tuple

(2, 1)

In [ ]:
#Assignment operators

a = 8  

a+=3 # can also be written as a= a+3

a-=3

a//=2

a**=2 # a= a**2

In [ ]:
#Comparison operators
x=4
y=5

x==y #check if x equal to y

x>=y #check if x greater than or equal to y

x<=y #less than equal to

x!=y #not equal to

x>y #greater than

x<y #less than

In [ ]:
#Identity operators: is and is not
#Checks if both the variables point to the same object at the same memory location

a=[1,2,3]

b=a

c=[1,2,3]

print(a is b)

print(a is c)

True
False

In [ ]:
#Membership operator

x= [1,2,3,4,5]

y= 2

print(y in x)

True

In [ ]:
#membership operator

fruits= ["mangoes", "orange", "grapes"]

print("apple" not in fruits)

True

In [ ]:
#bitwise operators
#Used to compare two numbers
#Both the numbers are converted to binary, then bit wise operation is performed and then the result is converted back to decimal
a=2 #0010
b=3 #0011
a|b #bitwise or
a&b #bitwise and
a^b #bitwise xor

3

In [ ]:
#bitwise operators
a= 2 #0010
a<<1 #shift left
a>>2 #shift right

4

In [ ]:
#check for precedence of bitwise operators

a=2
b=7
b|a<<2

15

## Bases Conversions

In [ ]:
#binary to decimal
print(0b1001)

#Octal to decimal
print(0o13)

#hexadecimal to decimal
0xA

9
11

10

**DIY**  : decimal to binary, decimal to octal and decimal to hexadecimal

In [ ]:
#integer to string with any bases

bin(15) # decimal to binary string

oct(11)

hex(10)

'0xa'

In [ ]:
#Ascii values

chr(69) #integer to its string equivalent

ord('A') #sring to integer

65

In [ ]:
Type Conversions

In [ ]:
bool(1) #int to boolean

int(True)

int(1e4)

float(98)

bool(0.0)

int('101',2) #binary to decimal

int('13',8) #octal to decimal

int('A',16) #hexdexcimal to decimal

10

##Print Format

In [ ]:
# This prints "John is 23 years old"
name="John"
age= "23"
print(name, " is ", age, " years old.")

John  is  23  years old.

In [ ]:
name= input("Enter name")
age=int(input("Enter age:"))
print(name, "is ", age, "years old")

Enter nameX
Enter age:20
X is  20 years old

In [ ]:
#using string.format()
# This also prints out "John is 23 years old."
name = "John"
age = 23
print("{} is {} years old." .format (name, age))

John is 23 years old.

###Generating Random Numbers

In [ ]:
import random
n= random.random() #generates any float number in the range of 0 to 1
print(n)

0.7580464543105935

In [ ]:
m= random.randint(0,30) #generates integer between 0 and 30, both inclusive
print(m)

24

In [ ]:
x= random.sample(range(10,50),5) #generates list of 5 numbers between 10 and 50
print(x)

[26, 34, 21, 45, 31]

In [ ]:
x= 20
z=5
z%=x
print(z)

5

Using Range data type

In [ ]:
#Range data type
r=range(10)
print(r)
print(type(r))
print(list(r))

range(0, 10)
<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

###Using Byte data type
Byte datatype represents group of byte numbers just like an array.
A byte number is any positive integer from 0 to 255.
It cannot store any negative integer

In [ ]:
elements=[10,12,14,16,18]
b= bytes(elements)
print(b[1])

12

In [ ]:
for i in b:
  print(i)

10
12
14
16
18

In [ ]:
#using if-elif-else
#print hello if number less than 5
# print good morning if number greater/equal to 5 and less than 10
#print good bye if number greater/equal to 10

num= input("Enter a whole number of your choice: ")
num= int(num)

if num<5:
  print("Hello!")
elif 5<=num<10:
  print("Good morning!")
else:
  print("Good bye!")

Enter a whole number of your choice: 4
Hello!